

<div class="fixed_banner">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
        </svg>
       <a class="link" href={{ section.settings.link }}>
         {{ section.settings.banner_text }}
       </a>
    </div>
</div>

{%- style -%}
  .fixed_banner {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    z-index:500;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .container {
    padding: 0.3rem 1.3rem;
    display: flex;
    align-items: center;
    }
  .link{
    display: block;
    text-decoration: none;
    color:black;
  }
  .icon {
    margin-right: 1rem;
    display: block;
    height: 20px;
    width: 20px;
    color: green;
  }
{%- endstyle -%}

{% schema %}
  {
    "name": "Under Pop",
    "settings": [
      {
        "type": "text",
        "id": "banner_text",
        "label": "Banner Text",
        "default": "Lineで質問する"
      },
      {
        "type": "text",
        "id": "link",
        "label": "Link",
        "default": "/"
      }
    ],
    "presets": [
      {
        "name": "Under Pop",
        "settings": {
        }
      }
    ]
  }
{% endschema %}